:root {
    --dark: rgb(66, 63, 77);
    --main-font: rgb(205, 43, 226);
    --sub-font: rgb(226, 218, 218);
}

body {
    background-color: var(--dark);
    color: var(--main-font);
    font-family: sans-serif;
}

h1 {
    text-align: center;
}

header p {
    text-align: center;
    color: var(--sub-font);
    width: 60%;
    margin: auto;
}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 40px auto;
}

.container {
    border: 1px lightgray dashed;
    width: 30%;
    margin: 20px auto;
}

.subheader {
    border: 1px lightgray solid;
    z-index: 2;
    background-color: var(--dark);
    border-radius: 5px;
    width: 80%;
    margin: 0 auto;
    padding: 10px 10px;
    height: 40px;
    position: relative;
    margin-top: -20px;
    line-height: 1.5;
}

.description {
    padding-left: 10px;
}

.card {
    display: flex;
    border-radius: 5px;
    padding-left: 10px;
    margin-left: 10px;
    margin-right: 10px;
    background: linear-gradient(10deg, var(--main-font), rgb(193, 149, 199));
}

pre {
    color: lightgray;
    user-select: all;
    /*align-self: center;*/
}

footer {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 0px;
}

footer img {
    height: 1.25em;
}

@media screen and (max-width: 992px) {
    .container {
        width: 45%;
    }
}

@media screen and (max-width: 768px) {
    main {
        display: block;
    }
}

@media screen and (max-width: 768px) {
    .container {
        width: 95%;
    }
}